<h3>Biography Details</h3>
<div>
  <br>
  <p>
    <strong>{{ selectedPost }}</strong> is the Director of the Technology Licensing Office (TLO) at MIT. Until July 2016, she served as the
    Director of the Office of Technology Management (OTM) at the University of Illinois at Urbana-Champaign, a position she
    held since 2006. She originally entered tech transfer at Illinois in 2002 as an Engineering Technology Manager having
    previously been an intern recruited to assist in managing a backlog of invention disclosures. As Director of the MIT
    TLO, Ms. Millar-Nicholson leads a team of more than 40 professional staff and interns who work with faculty, staff, corporations,
    and venture groups to commercialize MIT and Lincoln Lab intellectual property arising from the more than $1.5B in research
    conducted at those two entities.
  </p>
</div>
